# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Streamlit cache
.streamlit/

# Allow specific PDFs (se quiser manter apresentações)
!JessycaMoraesCurriculo26.pdf
!JessycaMoraesResume26.pdf